<?xml version="1.0"?>
<appSettings>

  <!-- (!) Application URL -->
  <!-- =================== -->
  <add key="applicationMainUrl" value="http://testing.cutwise.com"/>
  <!--add key="applicationMainUrl" value="http://cutwise.dev.cutwise.com/"/-->
  <!--add key="applicationMainUrl" value="http://cutwise.com/"/-->

  <!-- WebDriver Settings -->
  <!--==== Remote or Local? -->
  <add key="swdIsRemote" value="false"/>

  <!--<add key="swdIsRemote" value="true"/>-->
  <add key="swdRemoteUrl" value="http://127.0.0.1:4444/wd/hub"/>


  <!-- Application Default Settings -->
  <!-- ============================ -->
  <add key="login" value="test"/>
  <add key="password" value="1234567"/>

</appSettings>