<?xml version="1.0"?>
<appSettings>

  <!-- (!) Application URL -->
  <!-- =================== -->
  <add key="applicationMainUrl" value="https://staging.cutwise.com"/>

  <!-- WebDriver Settings -->
  <!--==== Remote or Local? -->
  <add key="swdIsRemote" value="false"/>

  <!--<add key="swdIsRemote" value="true"/>-->
  <add key="swdRemoteUrl" value="http://127.0.0.1:4444/wd/hub"/>


  <!-- Application Default Settings -->
  <!-- ============================ -->
  <add key="login" value="test"/>
  <add key="password" value="1234567"/>
  <!--add key ="redirectURL" value="http://localhost"/-->
  <add key ="redirectURL" value="http://staging.cutwise.com/auth"/>
  <add key="clientId" value="6_owofvizg32sskc8kg88kcskoo4sgk48sos0s844sccoswkk8s"/>
  <add key="clientSecret" value="2yfx59g1p4mcs8000wsg8o4cc0s808k8gs8o4ocw8w0o40k4kc"/>
  <add key="loginPageUrl" value="http://staging.cutwise.com/api/oauth/v2/auth/login"/>
  <add key="authorizationURI" value="http://staging.cutwise.com/api/oauth/v2/auth"/>
  <add key="responseType" value="token"/>


</appSettings>